::-webkit-scrollbar{
	width:17px;
	height:17px;
	background-color:#1a1a1a;
}
::-webkit-scrollbar-thumb{
	border-radius:20px;
	background-color:#818181;
	-webkit-box-shadow: inset 0 0 0px 4px #1a1a1a;
}
::-webkit-scrollbar-button:vertical:decrement{
	background:url("../img/normal_arrowup.png") -2px 0;
}

::-webkit-scrollbar-button:vertical:increment{
	background:url("../img/normal_arrowdown.png") -2px -6px;
}
::-webkit-scrollbar-button:horizontal:increment{
	background:url("../img/normal_arrowright.png") -6px -2px;
}
::-webkit-scrollbar-button:horizontal:decrement{
	background:url("../img/normal_arrowleft.png") -2px -2px;
}
::-webkit-scrollbar-corner{background:#1a1a1a}
body {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
  cursor:default;
}
.header {
  background-color: #252525;
  border-bottom: 1px solid #000;
  padding: 0px;
  display: flex;
}
.btn_esc {
  position: absolute;
  right: 1%;
  top: 12px;
  width: 16px;
  height: 16px;
  background: url("../img/normal_esc.png");
}
  .btn_esc:hover {
    background: url("../img/hover_esc.png");
  }
.btn_full {
  position: absolute;
  right: 4.3%;
  top: 12px;
  width: 16px;
  height: 16px;
  background: url("../img/normal_full.png");
}
  .btn_full:hover {
    background: url("../img/hover_full.png");
  }
.btn_shrink {
  position: absolute;
  right: 8%;
  top: 12px;
  width: 16px;
  height: 16px;
  background: url("../img/normal_shrink.png");
}
  .btn_shrink:hover {
    background: url("../img/hover_shrink.png");
  }
.btn_setting {
  position: absolute;
  right: 12%;
  top: 12px;
  width: 17px;
  height: 17px;
  background: url("../img/normal_setting.png");
}
  .btn_setting:hover {
    background: url("../img/hover_setting.png");
  }
/*setting*/  
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}
/* Modal Content */
.modal-content {
    position: fixed;
    top: 30%;
    left: 25%;
    background-color: #565656;
    width: 50%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    border-radius: 30px;
}

/* The Close Button */
.cancel_btn {
  position: absolute;
  right: 28%;
  top: 85%;
  width:15%;
  height: 8%;
  background-color: #808080;
  color: #f2f2f2;
  border: 2px solid #333333;
  font-size: 22px;
  font-family:Microsoft JhengHei; 
}
.done_btn {
  position: absolute;
  right: 8%;
  top: 85%;
  width:15%;
  height: 8%;
  background-color: #808080;
  color: #f2f2f2;
  border: 2px solid #333333;
  font-size: 22px;
  font-family:Microsoft JhengHei; 
}
.modal-header {
    padding: 10px 70px;
    background-color: #f2f2f2;
    color: black;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
}

.modal-body {
    padding: 200px 65px;
    color :#f2f2f2;
}
.modal_content {
  position: absolute;
  top: 25%;
  left: 20%;
  border: 2px solid #333333;
  padding: 10px 20px;
  margin-left: 8%;
  font-size: 22px;
  font-family:Microsoft JhengHei; 
}


/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}


@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

/*End of setting*/
.menuroot {
  margin-left: 24px;
  margin-top: 1%;
  margin-bottom: 8px;
  width: 34px;
  height: 27px;
  padding: 0px;
  color: #CCCCCC;
  transition: color 0.15s ease-in-out;
  font-family:Microsoft JhengHei; 
}
.menu {
  position: absolute;
  width: 170px;
  z-index: 1px;
  border: 1px solid black;
  padding-top: 4px;
  background-color: #474747;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0;
}
li {
  background-color: #474747;
  color: #CCCCCC;
  font-size: 14px;
  height: 22px;
  padding: 3px 0px 3px 13px;
}
li:hover {
  background-color: #CCCCCC;
  color: #252525;
  font-size: 14px;
  height: 22px;
  padding: 3px 0px 3px 13px;
  cursor: default;
}
.menuroot:hover {
  margin-left: 24px;
  margin-top: 10px;
  margin-bottom: 8px;
  width: 34px;
  height: 27px;
  padding: 0px;
  color: #F39800;
  cursor: hand;
}
.menuroot:active {
  margin-left: 24px;
  margin-top: 10px;
  margin-bottom: 8px;
  width: 34px;
  height: 27px;
  padding: 0px;
  color: #BF7600;
  cursor: hand;
}
.functionbar {
  background-color: #252525;
  border-top: 1px solid #474747;
  border-bottom: 1px solid #000;
  display: flex;
}
.dropdown {
  background: url('../ui/buttons/normal/normal_arrow.png') no-repeat #808080;
  background-position: right;
  cursor: default;
}
.dropdown:hover {
  background: url('../ui/buttons/normal/normal_arrow.png') no-repeat #808080;
  background-position: right;
  border: 1px solid #F39800;
  cursor: default;
}
.dropdown:active {
  background: url('../ui/buttons/pressed/pressed_arrow.png') no-repeat #808080;
  background-position: right;
  border: 1px solid #F39800;
  cursor: default;
}
.dropdown-content {
  position: absolute;
  padding-top: 4px;
}
.dropdown-content a {
    color: black;
    padding-left: 8px;
    font-size: 18px;
    text-decoration: none;
    display: block;
    background-color: #1a1a1a;
    color: #CCCCCC;
    cursor: default;
}
.dropdown-content a:hover {
    color: black;
    padding-left: 8px;
    font-size: 18px;
    text-decoration: none;
    display: block;
    background-color: #CCCCCC;
    color: #333333;
    cursor: default;
}
/*  .dropdown:hover .dropdown-content {
  display: block;
}*/

.tabstrip {
  background-color: #252525;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  display: flex;
  height: 28px;
  padding: 0;
}
.tab {
  background-color: #252525;
  border: 1px solid #000;
  border-top: 1px solid #474747;
  color: #CCCCCC;
  padding-top: 2px;
  padding-left:8px;
  width: 280px;
}
.inactivetab {
  display: none;
}
.tabediting {
	border-top: 1px solid #666666;
  background-color: #474747;
}
.title {
  -webkit-app-region: drag;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 8px;
  width: 126px;
  height: 27px;
  padding: 0px;
  background-image: url('../img/slimtab.png');
  background-size: 100% 100%;
  background-repeat:no-repeat;
}
.btn {
  margin: 10px 0px 10px 10px;
  width: 32px;
  height: 32px;
  background-size: 100% 100%;
  background-repeat:no-repeat;
}
.okbtn {
  width: 100px; height: 25px;
  margin: 0 auto;
  color: #f2f2f2;
  background-color: #5D5D5D;
  text-align: center;
  border: 1px solid #F39800;
}
.okbtn:Hover {
  width: 100px; height: 25px;
  margin: 0 auto;
  color: #f2f2f2;
  background-color: #999999;
  text-align: center;
  border: 1px solid #F39800;
}
.okbtn:active {
  width: 100px; height: 25px;
  margin: 0 auto;
  color: #f2f2f2;
  background-color: #1A1A1A;
  text-align: center;
  border: 1px solid #F39800;
}
.footer {
  position: fixed; 
  background:#252525; 
  width:100%;
  height: 29px;
  bottom:0;
}
.slider {
  float: right;
  margin-right: 26px;
}
.dialog {
  position: absolute;
  margin: 100px auto;
  background-color: #494949;
  z-index: 100;
  padding: 0px 0px 20px 0px;
  border-radius: 10px;
  cursor: default;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.dialogtitle {
  margin: 0;
  height: 28px;
  padding-top: 5px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: linear-gradient(to bottom, #E6E6E6 0%,#CCCCCC 100%);
}
input[type='range'] {
  -webkit-appearance: none;
  overflow:hidden;     /* ���w�d�� */
  width:200px;
  height:20px;
  outline : none;      /* �קK�I��|���Žu�ε�u */
  background:none;
}
  input[type='range'],
  input[type='range']::-webkit-slider-runnable-track,
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  input[type='range']::-webkit-slider-runnable-track {
    width: 200px;
    height: 2px;
    margin-top: 2px;
    background: #808080;
  }
  input[type='range']::-webkit-slider-thumb {
    position: relative;
    width: 10px;
    height: 11px;
    margin-top: -4px;
    background-size: 100% 100%;
    background-image: url('../ui/scroll.png');
  }
  .rangevalue {
    float: right;
    width: 45px;
    padding-left: 15px;
    margin-top: 5px;
    color: #808080;
  }